.dialog-pane {
    -fx-background-color: #FFCB83;
    -fx-font-family: 'sans-serif';
}

.dialog-pane .label {
    -fx-text-fill: black;
}

.input {
    -fx-padding: 0 64 12 64;
}

.form-pane {
    -fx-background-color: white;
    -fx-font-family: 'sans-serif';
    -fx-background-radius: 24px;
    -fx-padding: 24px;
}

.login-button {
    -fx-background-color: #FFCB83;
    -fx-background-radius: 6px;
    -fx-border-color: black;
    -fx-border-radius: 6px;
    -fx-text-fill: black;
    -fx-padding: 6 12 6 12;
}

.register-button {
    -fx-background-color: #858585;
    -fx-background-radius: 6px;
    -fx-border-color: black;
    -fx-border-radius: 6px;
    -fx-text-fill: white;
    -fx-padding: 6 12 6 12;
}

.login-button {
    -fx-background-color: #FFCB83;
    -fx-background-radius: 6px;
    -fx-border-color: black;
    -fx-border-radius: 6px;
    -fx-text-fill: black;
    -fx-padding: 6 12 6 12;
}

.register-button {
    -fx-background-color: #858585;
    -fx-background-radius: 6px;
    -fx-border-color: black;
    -fx-border-radius: 6px;
    -fx-text-fill: white;
    -fx-padding: 6 12 6 12;
}
.menu-button {
    -fx-background-color: #858585;
    -fx-background-radius: 6px;
    -fx-border-color: black;
    -fx-border-radius: 6px;
    -fx-text-fill: white;
    -fx-padding: 6 12 6 12;
    -fx-margin: 24px 0 0 0;
}

.title{
    -fx-font-size: 36px;
}
